{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "8.3.0" } }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}
